/*
    File: style.css
    Author: Yash Balotiya
    Description: This file contains the styling part of the index page.
    Created on: 16 June 2024
    Last Modified: 16 June 2024
*/

* {
    margin: 0;
    padding: 0;
    /* background-color: brown; */
}