<!-- 
    File: dashboardNavigation.html
    Author: Yash Balotiya
    Description: This file contains all the HTML5 code of the dashboard page Left Navigation Part.
    Created on: 02 June 2024
    Last Modified: 02 June 2024
-->

<section id="menuBtns">
    <button class="navBtns" id="dashBtn"><i class="fa-solid fa-table-columns"></i>Dashboard</button>
    <button class="navBtns" id="newBlogBtn"><i class="fa-solid fa-plus"></i>New Blog</button>
    <button class="navBtns" id="myBlogsBtn"><i class="fa-solid fa-newspaper"></i>My Articles</button>
    <button class="navBtns" id="todoBtn"><i class="fa-solid fa-bars"></i>TODO</button>
    <button class="navBtns" id="myProfileBtn"><i class="fa-solid fa-user"></i>Profile</button>
    <button class="navBtns" id=""><i class="fa-solid fa-right-from-bracket"></i>Logout</button>
</section>