<!-- 
    File: shared/view/dashboardNavigation.html
    Author: Yash Balotiya
    Description: This file contains all the HTML5 code of the dashboard page Left Navigation Part.
    Created on: 02 June 2024
    Last Modified: 17 June 2024
-->

<section id="menuBtns">
    <button class="navBtns" onclick="window.location.href='dashboard.php'" id="dashBtn"><i class="fa-solid fa-table-columns icons"></i>Dashboard</button>
    <button class="navBtns" onclick="window.location.href='newBlog.php'" id="newBlogBtn"><i class="fa-solid fa-plus icons"></i>New Blog</button>
    <button class="navBtns" onclick="window.location.href='myBlogs.php'" id="myBlogsBtn"><i class="fa-solid fa-newspaper icons"></i>My Articles</button>
    <button class="navBtns" onclick="window.location.href='todo.php'" id="todoBtn"><i class="fa-solid fa-bars icons"></i>TODO</button>
    <button class="navBtns" onclick="window.location.href='myProfileDashboard.php'" id="myProfileBtn"><i class="fa-solid fa-user icons"></i>Profile</button>
    <button class="navBtns" id=""><i class="fa-solid fa-right-from-bracket icons"></i>Logout</button>

    <div id="error-msg"></div>
    <div id="info-msg"></div>
    <div id="success-msg"></div>
</section>