<!-- 
    File: shared/view/dashboardNavigation.html
    Author: Yash Balotiya
    Description: This file contains all the HTML5 code of the dashboard page Left Navigation Part.
    Created on: 02 June 2024
    Last Modified: 10 July 2024
-->

<div id="aboutFooter">
    <!-- Taxpecharcha Logo -->
    <div id="fLogo">
        <img src="../../asset/vectors/Rupees.svg" alt="Rupees Symbol" id="rupeesLogo">
        <div>
            <h1>Taxpecharcha</h1>
            <p>"Maximize Savings, Minimize Taxes: Your Path to Financial Freedom."</p>
        </div>
    </div>

    <!-- About Taxpecharcha -->
    <div id="aboutTaxpecharcha">
        <h3>About Taxpecharcha</h3>
        <p>Taxpecharcha is a comprehensive platform dedicated to providing insightful articles on Income Tax, GST, and Customs Acts. Authored by CA Manish Suvasia, the website aims to guide users towards financial freedom through well-informed tax planning and compliance.</p>
        <br>
        <a href="../../user/view/profile.php" id="aboutMeLink">About Me</a>
    </div>

    <!-- Contact Me -->
    <div id="contactMe">
        <h3>Contact Me</h3>
        <a href="tel:+91 9833591469">+91 98335 91469</a>
        <a href="mailto:camanishsuvasiya@gmail.com">camanishsuvasiya@gmail.com</a>
        <a href="https://maps.app.goo.gl/UH79Nc82hZshdvhY8" target="_blank">Shell Colony, Chembur - 400 071</a>
    </div>

    <!-- About Dev -->
    <div id="devInfo">
        <h3>About Developer</h3>
        <img src="../../asset/images/AlgoDevs.png" alt="AlgoDevs" id="algoDevsImg" onclick="openYashProfile()">
        <h1 onclick="openYashProfile()">Yash Balotiya</h1>
        <p><i>Jr. Computer Engineer</i></p>
    </div>
</div>
<div id="copyFooter">
    <i class="fa-regular fa-copyright"></i>&nbsp;2024 Taxpecharcha.com
</div>