<!-- 
    File: navBar.html
    Author: Yash Balotiya
    Description: This file contains the HTML5 code of navigation bar.
    Created on: 24 May 2024
    Last Modified: 25 May 2024
-->

<!-- Navigation Panel -->
<nav id="navBar">
    <div id="navBarChild1">
        <img src="../../asset/vectors/Rupees.svg" alt="Rupees" id="rsLogo">
        <img src="../../asset/images/Slogan.png" alt="Taxpecharcha" id="logo">
    </div>

    <div id="navBtns">
        <ul id="navList">
            <li><a href="../../index.php" id="homeLink">Home</a></li>
            <li><a href="">Blogs</a></li>
            <li><a href="../../user/view/profile.php" id="aboutLink">About</a></li>
        </ul>

        <button class="button-28" id="loginBtn" onclick="window.location.href = '../../admin/view/login.php'">Login</button>
        <button class="button-28" id="dashboardBtn">Dashboard</button>
    </div>
</nav>