/*
    File: shared/style/navBarStyle.css
    Author: Yash Balotiya
    Description: This file contains the styling part of the navbar.
    Created on: 24 May 2024
    Last Modified: 11 July 2024
*/

/* General styling */
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Navigation Bar */
#navBar {
    width: 100vw;
    padding: 8px;
    position: fixed;
    z-index: 5;
    background-color: #FFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
}

#navBarChild1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rsLogo { width: 32px; }

#logo {
    width: 500px;
    margin-left: 8px;
}

/* Navigation Links */
#navBtns {
    display: flex;
    align-items: center;
}

#navList {
    display: flex;
    list-style: none;
}

#navList li {
    margin: 0;
    margin-right: 30px;
    font-size: large;
    position: relative;
}

#navList li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

#navList a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2196f3;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}

#navList a:hover::after { width: 100%; }

/* Login / Dashboard buttons */
#loginBtn { margin-right: 50px; }

#dashboardBtn { margin-right: 50px; }

/* Drop down */
.dropdown-menu {
    display: none;
    position: absolute;
    width: 140px;
    padding: 8px;
    margin: 2px 0;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #FFF;
}

.dropdown-menu li {
    list-style: none;
    line-height: 20px;
    width: 100%;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-toggle i { margin-left: 10px; }

.dropdown:hover .dropdown-menu { display: block; }

.dropdown-item {
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover { background-color: #f1f1f1; }