/*
    File: shared/style/toastMsgStyle.css
    Author: Yash Balotiya
    Description: This file contains the styling part of the Toast messages displayed at the run time.
    Created on: 21 June 2024
    Last Modified: 21 June 2024
*/

#success-msg, #error-msg, #info-msg {
    display: none;
    border-radius: 8px;
    margin: 8px;
    padding: 12px;
}

#success-msg {
    background-color: #d4edda;   
    color: #155724;
}

#error-msg {
    background-color: #f8d7da;
    color: #721c24;
}

#info-msg {
    background-color: #cce5ff;
    color: #004085;
}