/*
    File: user/style/aboutStyle.css
    Author: Yash Balotiya
    Description: This file contains the styling part of article page to be viewed by the user.
    Created on: 10 July 2024
    Last Modified: 14 July 2024
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #f7f7f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Main content area */
main {
    padding-top: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#articleTitle {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 8px
}

#articleImg {
    /* width: 450px; */
    width: 100%;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
}

#blogDetails { display: none; }

#articleContent, #blogDetails { line-height: 32px; }

#articleContent { margin-top: 20px; }

#blogWriterDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Whatsapp Logo */
#whatsappLogo {
    width: 75px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: 0.5s all ease;
}

#whatsappLogo:hover { transform: scale(1.2); }