/*
    File: admin/style/dashWlcmStyle.css
    Author: Yash Balotiya
    Description: This file contains the styling part of the dashboard page mainly Welcome and Recents Blogs.
    Created on: 02 June 2024
    Last Modified: 14 July 2024
*/

/* Changing color of the left navigation button for active state */
#dashBtn {
    background-color: #2196f3;
    color: #EEF7FF;
}

/* Main Content Area */
#dashContent {
    background-color: white;
    /* width: 1200px; */
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    border-radius: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

/* Left Welcome Div */
#dashChild1 {
    width: 60%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#helloDiv {
    background-color: #FFDB00;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    padding-left: 16px;
    margin: 16px 0;
}

#helloChild1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#newPostBtn {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #01204E;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#helloImg { width: 200px; }

/* Left Top Blog Div */
#topArticles {
    background-color: #EEEEEE;
    border: none;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
}

#topArticlesTable {
    width: 100%;
    text-align: center;
}

.viewsCol { width: 5%; }

.imageCol { width: 10%; }

.titleCol { width: 70%; }

.dateCol { width: 15%; }

.recentChild {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recentChild div {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.articleImg {
    width: 100px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    margin: 4px 0;
}