/*
    File: admin/style/newBlogStyle.css
    Author: Yash Balotiya
    Description: This file contains the styling part of the edit Blog Page.
    Created on: 30 June 2024
    Last Modified: 11 July 2024
*/

/* Changing color of the left navigation button for active state */
#editBlogBtn {
    background-color: #2196f3;
    color: #EEF7FF;
}

/* Main content area */
#dashContent {
    background-color: white;
    /* width: 1200px; */
    min-width: 80vw;
    min-height: 78vh;
    margin-top: 100px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    border-radius: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

#horizontalLine {
    width: 100px;
    height: 3px;
    background-color: #91DDCF;
}

#titleIntro {
    display: flex;
    align-items: center;
}

#blogData {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#blogData div { line-height: 24px; }

.blogBtns {
    width: 10vw;
    height: 40px;
    padding: 0;
    border-radius: 8px;
}

#blogSubmit {
    background-color: #fff3cd;
    color: #664d03;
    border: 1px solid #664d03;
}

#blogReset {
    background-color: #cce5ff;
    color: #195494;
    border: 1px solid #195494;
}

#blogData input[type="text"],
#mainCatOption {
    width: 20vw;
    height: 25px;
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 16px;
}

#mainCatOption {
    width: 20.7vw;
    height: 36px;
}

#subCatRadioChild {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.note {
    color: red;
    margin: 0;
}

.tox-menubar { z-index: -1; }

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}
  
/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}
  
/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}