<!-- 
    File: admin/view/profileInfo.html
    Author: Yash Balotiya
    Description: This file contains all the HTML5 code of the My Profile Page in dashboard specifically left side personal info part.
    Created on: 02 June 2024
    Last Modified: 17 June 2024
-->

<!-- TODO: all IDs and Names -->

<div id="profileInfoDiv">
    <!-- Info -->
    <div id="heading">
        <div>
            <h2>My Profile</h2>
            <div id="horizontalLine"></div>
        </div>
        <!-- <button class="button-28 saveBtn" id="personalDetailsSaveBtn">Save</button> -->
    </div>

    <!-- Profile Picture -->
    <img src="../../asset/images/Manish.jpg" alt="ManishImage" id="profileImage" class="image">

    <div id="profileChild1">
        <!-- User name -->
        <div class="logoDetails">
            <div class="icon-container">
                <i class="fa-solid fa-user icon" style="color: #050C9C;"></i>
            </div>
            <input class="inputStyle" type="text" name="" id="" value="Manish Suvasiya">
        </div>
        
        <!-- Phone No -->
        <div class="logoDetails">
            <div class="icon-container">
                <i class="fa-solid fa-phone icon" style="color: #04bd7a;"></i>
            </div>
            <input class="inputStyle" type="text" name="" id="" value="+91 98335 91469">
        </div>
    </div>

    <div id="profileChild1">
        <!-- email id -->
        <div class="logoDetails">
            <div class="icon-container">
                <i class="fa-solid fa-envelope icon" style="color: #de3733;"></i>
            </div>
            <input class="inputStyle" type="text" name="" id="" value="camanishsuvasiya@gmail.com">
        </div>

        <!-- address -->
        <div class="logoDetails">
            <div class="icon-container">
                <i class="fa-solid fa-location-dot icon" style="color: #f2b62c;"></i>
            </div>
            <input class="inputStyle" type="text" name="" id="" value="Chembur, Mumbai - 400 071">
        </div>
    </div>

    <!-- linkedin -->
    <div class="logoDetails">
        <div class="icon-container">
            <i class="fa-brands fa-solid fa-linkedin-in icon" style="color: #0a66c2;"></i>
        </div>
        <input class="inputStyle" type="text" name="" id="" value="https://www.linkedin.com/in/manish-suvasiya-3a41251a0/" size="50">
    </div>

    <!-- whatsapp -->
    <div class="logoDetails">
        <div class="icon-container">
            <i class="fa-brands fa-solid fa-whatsapp icon" style="color: #26c943;"></i>
        </div>
        <input class="inputStyle" type="text" name="" id="" value="https://wa.me/919833591469" size="50">
    </div>

    <!-- tweeter -->
    <div class="logoDetails">
        <div class="icon-container">
            <i class="fa-brands fa-solid fa-x-twitter icon"></i>
        </div>
        <input class="inputStyle" type="text" name="" id="" value="https://x.com/ManishSuvasiya3" size="50">
    </div>

    <!-- instagram -->
    <div class="logoDetails">
        <div class="icon-container">
            <i class="fa-brands fa-solid fa-instagram class" style="color: #f72d80;"></i>
        </div>
        <input class="inputStyle" type="text" name="" id="" value="https://www.instagram.com/manish.suvasiya" size="50">
    </div>
</div>