<!-- 
    File: user/view/homePage.html
    Author: Yash Balotiya
    Description: This file contains all the HTML5 code of the home page -> index.php customSection.
    Created on: 05 July 2024
    Last Modified: 06 July 2024
-->

<!-- Income Tax Intro -->
<section id="incomeSection1">
    <img src="asset/images/Customs.png" alt="Customs Act Illustration" class="taxImg">
    <div>
        <h1>The Customs Act, 1962</h1><br>
        <p>The Customs Act, 1962, is India's primary law governing customs duties.<br>It regulates the import and export of goods, ensuring compliance with customs procedures.<br>The Act facilitates the collection of duties and prevents illegal trade activities,<br>playing a crucial role in border control and revenue generation.</p>
    </div>
</section>

<section class="recentIncome">
    <div class="title">
        <h2>Recent Customs Articles</h2>
        <div class="horizontalDivider" id="greenDivider"></div>
    </div>
    <br>
    <div class="recentArticles">

        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg">
            <div class="articleInfo">
                <div>
                    <h1>SELF ASSESSMENT TAX (SECTION 59)</h1>
                    <p class="desc">Every registered person shall himself assess the tax liability and pay to the government...</p>
                    <a href="">Read full article</a>
                </div>
                <div class="articleDetails">
                    <p><b><i>Manish Suvasiya</i></b></p>
                    <div>
                        <i class="fa-solid fa-eye"></i>
                        <p>25</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg">
            <div class="articleInfo">
                <div>
                    <h1>SELF ASSESSMENT TAX (SECTION 59)</h1>
                    <p class="desc">Every registered person shall himself assess the tax liability and pay to the government...</p>
                    <a href="">Read full article</a>
                </div>
                <div class="articleDetails">
                    <p><b><i>Manish Suvasiya</i></b></p>
                    <div>
                        <i class="fa-solid fa-eye"></i>
                        <p>25</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg">
            <div class="articleInfo">
                <div>
                    <h1>SELF ASSESSMENT TAX (SECTION 59)</h1>
                    <p class="desc">Every registered person shall himself assess the tax liability and pay to the government...</p>
                    <a href="">Read full article</a>
                </div>
                <div class="articleDetails">
                    <p><b><i>Manish Suvasiya</i></b></p>
                    <div>
                        <i class="fa-solid fa-eye"></i>
                        <p>25</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<button id="" class="loadMoreBtn">See more</button>