<!-- 
    File: user/view/gstSection.html
    Author: Yash Balotiya
    Description: This file contains all the HTML5 code of the home page -> index.php gstSection.
    Created on: 05 July 2024
    Last Modified: 11 July 2024
-->

<!-- GST Intro -->
<section id="incomeSection1">
    <div>
        <h1>The Goods and Services Tax Act, 2017</h1><br>
        <p>The Goods and Services Tax (GST) Act, 2017, is India's unified indirect tax law.<br>It combines taxes like VAT, service tax, and excise duty into a single system to simplify taxation.<br>Implemented on July 1, 2017, the GST Act standardizes the tax structure across the country and<br>eliminates the cascading effect of multiple taxes.</p>
    </div>
    <img src="asset/images/GST.png" alt="GST Illustration" class="taxImg">
</section>

<!-- 3 Recent Articles -->
<section class="recentIncome">
    <div class="title">
        <h2>Recent GST Articles</h2>
        <div id="yellowDivider" class="horizontalDivider"></div>
    </div>
    <br>

    <div class="recentArticles">
        <!-- 1st Article -->
        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg" id="articleImg4">
            <div class="articleInfo">
                <div>
                    <h1 id="articleTitle4">No Data Found!!</h1>
                    <p class="desc" id="articleContent4">~</p>
                    <a id="articleLink4">Read full article</a>
                </div>
            </div>
            <div class="articleDetails">
                <p><b><i>Manish Suvasiya</i></b></p>
                <div>
                    <i class="fa-solid fa-eye"></i>
                    <p id="articleViews4">~</p>
                </div>
            </div>
        </div>

        <!-- 2nd Article -->
        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg" id="articleImg5">
            <div class="articleInfo">
                <div>
                    <h1 id="articleTitle5">No Data Found!!</h1>
                    <p class="desc" id="articleContent5">~</p>
                    <a id="articleLink5">Read full article</a>
                </div>
            </div>
            <div class="articleDetails">
                <p><b><i>Manish Suvasiya</i></b></p>
                <div>
                    <i class="fa-solid fa-eye"></i>
                    <p id="articleViews5">~</p>
                </div>
            </div>
        </div>

        <!-- 3rd Article -->
        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg" id="articleImg6">
            <div class="articleInfo">
                <div>
                    <h1 id="articleTitle6">No Data Found!!</h1>
                    <p class="desc" id="articleContent6">~</p>
                    <a id="articleLink6">Read full article</a>
                </div>
            </div>
            <div class="articleDetails">
                <p><b><i>Manish Suvasiya</i></b></p>
                <div>
                    <i class="fa-solid fa-eye"></i>
                    <p id="articleViews6">~</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Button to load more -->
<button class="loadMoreBtn" onclick="navigateToArticles()">See more</button>