<!-- 
    File: user/view/incomeTax.html
    Author: Yash Balotiya
    Description: This file contains all the HTML5 code of the home page -> index.php IncomeTax.
    Created on: 05 July 2024
    Last Modified: 06 July 2024
-->

<!-- Income Tax Intro -->
<section id="incomeSection1">
    <img src="asset/images/IncomeTax.jpg" alt="Income Tax Illustration" class="taxImg">
    <div>
        <h1>The Income-tax Act, 1961</h1><br>
        <p>The Income-tax Act, 1961 is the charging statute of Income Tax in India.<br>It provides for levy, administration, collection and recovery of Income Tax.<br>The Government of India brought a draft statute called the "Direct Taxes Code"<br>intended to replace the Income Tax Act, 1961 and the Wealth Tax Act, 1957.</p>
    </div>
</section>

<section class="recentIncome">
    <div class="title">
        <h2>Recent Income-tax Articles</h2>
        <div id="purpleDivider" class="horizontalDivider"></div>
    </div>
    <br>
    <div class="recentArticles">
        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg">
            <div class="articleInfo">
                <div>
                    <h1>SELF ASSESSMENT TAX (SECTION 59)</h1>
                    <p class="desc">Every registered person shall himself assess the tax liability and pay to the government...</p>
                    <a href="">Read full article</a>
                </div>
                <div class="articleDetails">
                    <p><b><i>Manish Suvasiya</i></b></p>
                    <div>
                        <i class="fa-solid fa-eye"></i>
                        <p>25</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg">
            <div class="articleInfo">
                <div>
                    <h1>SELF ASSESSMENT TAX (SECTION 59)</h1>
                    <p class="desc">Every registered person shall himself assess the tax liability and pay to the government...</p>
                    <a href="">Read full article</a>
                </div>
                <div class="articleDetails">
                    <p><b><i>Manish Suvasiya</i></b></p>
                    <div>
                        <i class="fa-solid fa-eye"></i>
                        <p>25</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="recentChilds">
            <img src="asset/uploads/3156.jpg" alt="Article Image" class="articleImg">
            <div class="articleInfo">
                <div>
                    <h1>SELF ASSESSMENT TAX (SECTION 59)</h1>
                    <p class="desc">Every registered person shall himself assess the tax liability and pay to the government...</p>
                    <a href="">Read full article</a>
                </div>
                <div class="articleDetails">
                    <p><b><i>Manish Suvasiya</i></b></p>
                    <div>
                        <i class="fa-solid fa-eye"></i>
                        <p>25</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<button id="" class="loadMoreBtn">See more</button>